
body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(foto.2.jpg);
   
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card{
    margin-left: 400px;
    margin-right: 400px;

}